<template>
  <q-page class="flex column bg-grey-2">
    <div class="q-mx-lg q-my-md items-center">
      <div class="row items-center q-my-sm">
        <div class="text-h5 text-secondary col">Freigaben</div>
        <q-btn class="text-secondary bg-primary" icon="filter_alt" round>
          <q-menu anchor="top right" self="top left">
            <q-list>
              <q-item clickable v-close-popup>
                <q-toggle
                  v-model="just_active"
                  left-label
                  label="Nur Freigaben mit Handlungsbedarf"
                />
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </div>
      <div v-if="error">Brauchen Sie ein Tutorial wie man diese App bedient?</div>
      <div v-if="loading" class="flex justify-center items-center" style="height: 80vh">
        <q-circular-progress
          indeterminate
          size="xl"
          color="primary"
          track-color="grey-3"
          class="q-ma-md"
        />
      </div>
      <q-scroll-area v-else style="height: 80vh">
        <q-list>
          <q-card
            v-for="item in shownApprovals"
            :key="item.customer.ID"
            class="q-ma-sm"
            :class="getStatus(item).status == 'rejected' ? 'bg-red-2' : getStatus(item).status == 'done' ? 'bg-green-2': ''"
          >
            <q-card-section class="row items-center justify-between">
              <div class="text-grey-8">Kundenanlage {{item.customer.ID}}</div>
              <q-chip
                clickable
                @click="goTo(item)"
                v-bind:color="getStatus(item).status == 'done' ? 'positive' : getStatus(item).status == 'rejected' ? 'negative' : ''"
                icon="done"
              >{{getStatus(item).text}}</q-chip>
            </q-card-section>

            <div class="q-px-md q-pb-sm text-body1">{{item.customer.customername1}}</div>

            <div v-if="getStatus(item).status == 'in_progress'">
              <q-separator />

              <q-card-actions class="bg-primary row justify-between">
                <q-btn color="secondary" @click="openDialog(item)" flat>Direktfreigabe</q-btn>
                <q-separator vertical />
                <q-btn
                  color="secondary"
                  :to="{name:'Approval', params: {id : item.customer.ID}}"
                  flat
                >Zur Genehmigung</q-btn>
              </q-card-actions>
            </div>
          </q-card>
        </q-list>
      </q-scroll-area>
    </div>
    <ConfirmDialog v-model="confirmDialog" :approval="selectedApproval" />
  </q-page>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
import { ref } from 'vue'
import ConfirmDialog from 'components/ConfirmDialog.vue'

export default {
  components: {
    ConfirmDialog
  },
  data () {
    return {
      loading: false,
      error: false,
      noData: true,
      items: [],
      confirmDialog: ref(false),
      selectedCustomer: null,
      just_active: ref(true)
    }
  },
  created () {
    this.fetchData()
  },
  computed: {
    shownApprovals: function() {
     if(this.just_active) {
        return this.items.filter(x => this.getStatus(x).status == 'in_progress')
     } else {
        return this.items
     }
    }
  },
  methods: {
    fetchData() {
      this.loading = true
      axios.get('https://digitalhawk.rubix.works/api/v1/user/allApprovals',
      {withCredentials: true}).then(s => {
        if(s.data.length == 0) {
          this.noData = true
          this.loading = false
        } else {
          this.items = s.data.sort((a,b) => {return a.customer.ID < b.customer.ID ? 1 : -1})
          this.loading = false
        }
      }).catch(e => {
        console.error('Fehler: ',e)
        this.error = true
        this.loading = false
      })
    },
    getStatus(item) {
      let done = item.approvals.filter(x => x.approved != null).length
      let todo = item.approvals.length
      let status;
      if(item.approvals.find(x => x.approved == false)) {
        status = 'rejected'
      } else if(done == todo) {
        status = 'done'
      } else {
        status = 'in_progress'
      }
      return({
        text: `${done}/${todo}`,
        status: status
        })
    },
    openDialog(item) {
      this.confirmDialog = true
      this.selectedApproval = item
    },
    goTo(item) {
      this.$router.push(`/approvals/${item.customer.ID}`)
    }
  },
}
</script>
