<template>
  <q-page class="customers-page column center justify-center">
    <q-select
      rounded
      transition-show="jump-up"
      transition-hide="jump-up"
      outlined
      v-model="search"
      use-input
      input-debounce="200"
      label="KundenNr, Name, Adresse..."
      :options="options"
      @filter="filterFn"
      :loading="loading"
      style="margin: 0px 8px"
      popup-content-class="text-secondary bg-primary"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-secondary">No results</q-item-section>
        </q-item>
      </template>
      <template v-slot:append>
        <q-icon name="search" @click.stop />
      </template>
    </q-select>
  </q-page>
</template>

<script>
/* eslint-disable */
import { ref } from 'vue'
import axios from 'axios'

export default {
  data() {
    return {
      search: ref(''),
      loading: ref(false),
      options: ['test', 'test2']
    }
  },
  setup() {
    return {}
  },
  methods: {
    submit() {},
    log() {
      console.log('logggiiii')
    },
    filterFn(val, update, abort) {
      if (val.length < 3) {
        abort()
        return
      } else {
        update(() => {
          axios
            .get(
              `https://digitalhawk.rubix.works/api/v1/customers/find/${val}`,
              {
                withCredentials: true
              }
            )
            .then((s) => {
              console.log('data in s: ', s)
            })
        })
      }
    }
  }
}
</script>
