<template>
  <q-page class="column">
    <q-scroll-area style="height: 90vh">
      <div v-if="loading" class="column justify-center items-center window-height">
        <q-circular-progress
          indeterminate
          size="xl"
          color="primary"
          track-color="grey-3"
          class="q-ma-md"
        />
      </div>
      <div v-else-if="noData" class="column flex-center bg-primary full-height full-width absolute">
        <q-icon class="text-secondary" size="60px" name="new_releases" />
        <div class="text-secondary text-body1 q-my-lg">Keine Daten vorhanden / Bereits freigegeben</div>
      </div>
      <div v-else class="q-mx-sm q-my-md">
        <div v-if="error">ERROR</div>
        <div v-else class="column">
          <q-expansion-item
            icon="info"
            :label="item.customer.customername1"
            :default-opened="true"
            header-class="bg-info rounded-borders text-grey-1"
            class="q-mb-md"
          >
            <q-card class="border elevated" bordered elevated>
              <q-card-section class="row items-center justify-between">
                <div class="col-8 text-secondary">
                  <div class="text-caption">{{item.customer.customername1}}</div>
                  <div class="text-caption">{{item.customer.customername2}}</div>
                  <div class="text-caption">{{item.customer.street1}} {{item.customer.houseNr}}</div>
                  <div class="text-caption">{{item.customer.zipCode}} {{item.customer.place}}</div>
                </div>
                <q-btn icon="person" round push class="text-secondary bg-primary" />
              </q-card-section>
            </q-card>
          </q-expansion-item>
          <q-list bordered>
            <div v-for="(app, index) in item.approvals" :key="app.ID">
              <q-expansion-item
                group="krappa"
                :icon="app.approved == null ? 'pending' : app.approved == false ? 'error' : 'check_circle'"
                :label="app.tbl_Customers_New_Approval_Type.translation"
                :default-opened="index == 0"
                :header-class="app.approved == null ? 'text-secondary' : app.approved == false ? 'text-negative bg-red-2' : 'text-positive bg-green-2'"
              >
                <q-separator />
                <q-card
                  class="row no-wrap justify-between"
                  :class="app.approved == null ? 'text-secondary' : app.approved == false ? 'text-negative bg-red-1' : 'text-positive bg-green-1'"
                >
                  <q-card-section
                    class="text-body2 col-9 text-secondary scroll"
                    style="max-height: 55vh;"
                  >
                    <q-icon name="format_quote" color="secondary" />
                    {{getComment(app.tbl_Customers_New_Approval_Type.type)}}
                  </q-card-section>
                  <q-card-section class="col-auto text-caption">
                    <q-item-label>{{app.date}}</q-item-label>
                  </q-card-section>
                </q-card>
                <q-btn-group spread class="bg-primary text-secondary">
                  <q-btn :disable="app.approved != null" @click="approve(false, app)">Ablehnen</q-btn>
                  <q-separator vertical />
                  <q-btn :disable="app.approved != null" @click="approve(true, app)">Genehmigen</q-btn>
                </q-btn-group>
              </q-expansion-item>
              <q-separator />
            </div>
          </q-list>
        </div>
      </div>
      <q-dialog v-model="confirm" persistent>
        <q-card>
          <q-toolbar class="bg-primary">
            <q-avatar
              class="col-auto"
              size="xl"
              :icon="decision ? 'check_circle' : 'cancel'"
              text-color="secondary"
            />
            <q-toolbar-title>{{dialogApproval.tbl_Customers_New_Approval_Type.translation}} {{decision ? 'genehmigen' : 'ablehnen'}}</q-toolbar-title>

            <q-btn flat round dense icon="close" v-close-popup />
          </q-toolbar>
          <q-card-section v-if="decision" class="row items-center">
            <div>Test</div>
          </q-card-section>
          <q-card-section v-else-if="!decision" class="column items-center">
            <q-input
              class="full-width q-my-md"
              color="secondary"
              autogrow
              v-model="declineComment"
              label="Kommentar"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Bitte Kommentar eingeben']"
            />
            <div class="text-body2">ODER</div>
            <q-file class="q-my-md" filled bottom-slots v-model="file" label="Datei hochladen">
              <template v-slot:prepend>
                <q-icon name="cloud_upload" />
              </template>

              <template v-slot:hint>Datei</template>
            </q-file>
          </q-card-section>
          <q-card-actions class="bg-primary" align="right">
            <q-btn flat label="Abbrechen" color="secondary" v-close-popup />
            <q-separator vertical />
            <q-btn
              flat
              label="Senden"
              :disable="decision == false && (declineComment.length == 0 && file == null)"
              color="secondary"
              @click="sendDecision"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-scroll-area>
  </q-page>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
import { date } from 'quasar'
import { ref } from 'vue'

export default {

  data () {
    return {
      loading: false,
      error: false,
      noData: true,
      item: null,
      visible : 0,
      dialogApproval: null,
      decision: null,
      declineComment : ref(''),
      file: ref(null)
    }
  },
  created () {
    this.fetchData()
  },
  setup () {
    return {
      confirm : ref(false)
    }
  },
   watch: {
    $route(to, from) {
      //damit bei param-Änderung neu geladen wird
      this.fetchData()
    }
  },
  methods: {
    fetchData() {
      this.loading = true
      axios.get('https://digitalhawk.rubix.works/api/v1/user/allApprovals',
      {withCredentials: true}).then(s => {
        if(s.data.length == 0) {
          this.noData = true
          this.loading = false
        } else {
          console.log('$route.params.id ', this.$route.params.id)
          let _item =  s.data.find(x => x.customer.ID == this.$route.params.id)
          if(!_item) {
            this.noData = true
          } else {
            console.log('this.approvals ', _item)
            _item.approvals.forEach(e => {
              e.date = date.formatDate(e.updatedAt, 'DD.MM.YYYY')
            })
            this.item =_item
            this.noData = false
          }
          this.loading = false
        }
      }).catch(e => {
        console.error('Fehler: ',e)
        this.error = true
        this.loading = false
      })
    },
    getComment(type) {
      if (type == 'freightSegment') {
        return this.item.customer.freightSegmentComment
      } else if (type == 'termsOfPayment') {
        return this.item.customer.termsOfPaymentComment
      } else if (type == 'incoterm') {
        return this.item.customer.incotermsComment
      }
    },
    approve(decision, approval) {
      this.dialogApproval = approval
      this.decision = decision
      this.confirm = true
    },
    sendDecision() {
      axios.post()
    }
  }
}
</script>
