<template>
  <q-page class="flex column bg-grey-2">
    <div class="q-mx-lg q-my-md items-center flex row">
      <div class="text-h5 text-secondary col">Benachrichtigungen</div>
      <div v-if="$q.screen.gt.xs" class="col text-right">
        <q-btn
          round
          color="primary"
          icon="refresh"
          class="neumorphism-item"
          @click="refreshOnClick"
        />
      </div>
    </div>
    <div class="q-mx-md scroll" style="height: 80vh">
      <div
        v-if="loading"
        class="flex justify-center items-center"
        style="height: 80vh"
      >
        <q-circular-progress
          indeterminate
          size="xl"
          color="primary"
          track-color="grey-3"
          class="q-ma-md"
        />
      </div>
      <div v-else-if="error" class="error">ERROR</div>
      <q-pull-to-refresh v-else @refresh="refreshOnPull" bg-color="secondary">
        <q-list>
          <q-slide-item
            v-for="item in items"
            v-ripple
            height="85px"
            style="transition: 0.2s ease-in-out"
            v-bind:class="
              itemHovered == item._id
                ? 'bg-yellow-3 notification-item text-secondary'
                : item.read
                ? 'notification-item text-secondary read'
                : 'notification-item text-secondary unread'
            "
            class="q-my-sm neumorphism-item"
            :key="item._id"
            @left="(reset) => onLeft(reset, item)"
            @right="(reset) => onRight(reset, item)"
            @mouseover="itemHovered = item._id"
            @mouseleave="itemHovered = null"
            @click.stop="goto(item)"
            left-color="info"
            right-color="primary"
          >
            <template v-slot:left>
              <div class="row items-center">
                <q-icon left name="shortcut" />Zur Aktion
              </div>
            </template>
            <template v-slot:right>
              <div class="row items-center">
                {{
                  item.read
                    ? "Als gelesen markieren"
                    : "Als ungelesen markieren"
                }}
                <q-icon right name="mark_as_unread" />
              </div>
            </template>

            <q-item class="items-center">
              <q-item-section avatar>
                <q-avatar>
                  <img
                    :src="
                      item.hawkimage
                        ? item.hawkimage
                        : 'https://digitalhawk.zitec-intern.de:4443/images/showcase/hawk-logo.png'
                    "
                    :placeholder-src="item.image"
                    alt="DH"
                    style="object-fit: cover"
                  />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ item.nachricht }}</q-item-label>
                <q-item-label caption>{{ item.translation }}</q-item-label>
              </q-item-section>
              <div v-if="$q.screen.gt.xs" class="q-gutter-sm">
                <q-btn
                  padding="sm"
                  size="sm"
                  round
                  icon="shortcut"
                  @click.stop="() => toAction(item._id)"
                />
                <q-btn
                  padding="sm"
                  size="sm"
                  round
                  v-bind:icon="item.read ? 'visibility_off' : 'visibility'"
                  @click.stop="markAs(item._id, item.read)"
                />
              </div>
              <q-item-section side top>
                <q-item-label>{{ item.date }}</q-item-label>
                <q-item-label caption>{{ item.time }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-slide-item>
        </q-list>
      </q-pull-to-refresh>
    </div>
  </q-page>
</template>

<script>
/* eslint-disable */
import { useQuasar } from "quasar";
import axios from "axios";
import { date } from "quasar";

const withAction = ["/customersNew/approval/"];

export default {
  data() {
    return {
      itemHovered: null,
      loading: false,
      error: false,
      noData: true,
      items: [],
    };
  },
  created() {
    // https://router.vuejs.org/guide/advanced/data-fetching.html
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData();

    universalLinks.subscribe("ul_msauth", (data) => console.log("LOL", data));
  },
  methods: {
    finalize(reset) {
      setTimeout(() => {
        reset();
      }, 1000);
    },
    onLeft({ reset }, item) {
      this.goto(item);
      this.finalize(reset);
    },
    onRight({ reset }, item) {
      if (item.read) {
        this.markAsUnread(item._id);
      } else {
        this.markAsRead(item._id);
      }
      this.finalize(reset);
    },
    goto(item) {
      //:to="item?.pathExt?.includes('/customersNew/approval/') ? `/approval/${item.pathExt.split('/')[2]}` :''"
      if (item.pathExt.includes("/customersNew/approval/")) {
        this.$router.push(`/approvals/${item.pathExt.split("/")[3]}`);
      } else {
      }
    },
    toAction(id) {
      console.log("action ", id);
    },
    markAs(id, read) {
      if (read) {
        this.markAsUnread(id);
      } else {
        this.markAsRead(id);
      }
    },
    markAsRead(id) {
      let obj = this.items.find((x) => x._id == id);
      obj.read = true;
      this.postMessage(obj);
    },
    markAsUnread(id) {
      let obj = this.items.find((x) => x._id == id);
      obj.read = false;
      this.postMessage(obj);
    },
    postMessage(message) {
      axios.put(
        "https://digitalhawk.rubix.works/api/v1/user/updateMessage",
        message,
        {
          withCredentials: true,
        }
      );
    },
    refreshOnClick() {
      this.fetchData().then(() => {
        this.$q.notify({
          message: "Daten aktualisiert",
          color: "info",
          position: "bottom",
          progress: true,
          timeout: 1000,
        });
      });
    },
    refreshOnPull(done) {
      this.fetchData().then(() => {
        this.$q.notify({
          message: "Daten aktualisiert",
          color: "info",
          position: "bottom",
          progress: true,
          timeout: 1000,
        });
        done();
      });
    },
    fetchData() {
      return new Promise((res, rej) => {
        this.loading = true;
        axios
          .get("https://digitalhawk.rubix.works/api/v1/user/allMessages", {
            withCredentials: true,
          })
          .then((s) => {
            if (s.data.length == 0) {
              this.noData = true;
              this.false = true;
            } else {
              s.data.forEach((e) => {
                e.time = date.formatDate(e.date, "HH:mm");
                e.date = date.formatDate(e.date, "DD.MM.YYYY");
              });
              this.items = s.data;
              console.log("this.items ", this.items);
              this.loading = false;
            }
            res();
          })
          .catch((e) => {
            console.error("Fehler: ", e);
            this.error = true;
            this.loading = false;
            rej(e);
          });
      });
    },
  },
};
</script>
