<template>
  <q-page class="login-page">
    <q-parallax :height="height">
      <!--<q-parallax>-->
      <q-card class="my-card q-px-lg q-ma-sm" style="opacity: 0.95">
        <q-card-section>
          <div class="text-h3 text-primary text-center">Wings for Digital Hawk</div>
          <div
            class="text-overline text-secondary text-center"
          >Willkommen bei der Digital Wings App für den Digital Hawk</div>
          <q-form @submit="submit" class="q-gutter-md q-my-md">
            <q-input
              color="secondary"
              filled
              v-model="email"
              label="Email/Username"
              lazy-rules
              :rules="[
                (val) =>
                  (val && val.length > 3) ||
                  'Bitte Email oder Username eingeben',
              ]"
            />
            <q-input
              color="secondary"
              filled
              type="password"
              v-model="pass"
              label="Passwort"
              lazy-rules
              :rules="[
                (val) => (val && val.length > 3) || 'Bitte Passwort eingeben',
              ]"
            />
            <div class="text-center">
              <!--:disable="!email || !pass"-->
              <q-btn
                label="Einloggen"
                type="submit"
                :color="!email || !pass ? 'warning' : 'primary'"
                push
                @click="SignIn"
              />
              <q-btn label="Ausloggen" type="submit" push @click="SignOut" />
            </div>
          </q-form>
          <div class="text-overline text-primary text-center">&copy; Team Digital</div>
          <div class="text-overline text-secondary text-center">Powered by RUBIX</div>
        </q-card-section>
      </q-card>
    </q-parallax>
  </q-page>
</template>

<script>
/* eslint-disable */
import { ref } from 'vue'
import axios from 'axios'
import video from '../assets/images/Rubix_video.mp4'
import fallback from '../assets/images/video_fallback.jpg'
// import { useRouter } from "vue-router";
import { default as Adal, AxiosAuthHttp } from 'vue-adal'
import { useStore } from 'vuex'
import { PublicClientApplication, EventType } from '@azure/msal-browser'
import { config } from '../auth/config'

// SETUP function: https://v3.vuejs.org/guide/composition-api-setup.html#arguments

const height = window.screen.height - 60
// const router = useRouter({ mode: "history" });

export default {
  data() {
    return {
      email: ref(''),
      pass: ref(''),
      video: video,
      fallback: fallback,
      account: undefined
    }
  },
  setup() {
    const $store = useStore()

    //const authState = computed({
    //  get: () => $store.state.showcase.authState,
    //  set: (val) => {
    //    $store.commit('showcase/updateAuthState', val)
    //  }
    //})

    return {
      height: height
      //authState: authState
    }
  },
  async created() {
    this.$msalInstance = new PublicClientApplication(
      this.$store.state.msalConfig
    )
    this.$msalInstance.addEventCallback(
      (event) => {
        console.log('EVENT', event)
        // set active account after redirect
        if (
          event.eventType === EventType.LOGIN_SUCCESS &&
          event.payload.account
        ) {
          const account = event.payload.account
          this.$msalInstance.setActiveAccount(account)
        }
      },
      (error) => {
        console.log('error', error)
      }
    )
  },
  mounted() {
    const accounts = this.$msalInstance.getAllAccounts()
    if (accounts.length > 0) {
      this.$msalInstance.setActiveAccount(accounts[0])
    }

    console.log('get active account', this.$msalInstance.getActiveAccount())
  },
  methods: {
    async SignInOld() {
      const msal = this.$msalInstance
      const loginRequest = {
        scopes: ['User.ReadWrite'],
        prompt: 'select_account'
      }

      let accountId = ''

      msal
        .loginPopup(loginRequest)
        .then(function (loginResponse) {
          console.log('LOGINRESPONSE!!!!!')
          accountId = loginResponse.account.homeAccountId
          // Display signed-in user content, call API, etc.
        })
        .catch(function (error) {
          //login failure
          console.log('FEHLER WTF?????', error)
        })
    },
    async SignInOld2() {
      const loginRequest = {
        responseMode: 'query',
        scopes: ['User.Read']
      }

      const myMSALObj = this.$msalInstance
      myMSALObj
        .handleRedirectPromise()
        .then(handleResponse)
        .catch((err) => {
          console.error(err)
        })

      function handleResponse(resp) {
        if (resp !== null) {
          accountId = resp.account.homeAccountId
          myMSALObj.setActiveAccount(resp.account)
          showWelcomeMessage(resp.account)
        } else {
          // need to call getAccount here?
          const currentAccounts = myMSALObj.getAllAccounts()
          if (!currentAccounts || currentAccounts.length < 1) {
            return
          } else if (currentAccounts.length > 1) {
            // Add choose account code here
          } else if (currentAccounts.length === 1) {
            const activeAccount = currentAccounts[0]
            myMSALObj.setActiveAccount(activeAccount)
            accountId = activeAccount.homeAccountId
            showWelcomeMessage(activeAccount)
          }
        }
      }

      myMSALObj
        .loginPopup(loginRequest)
        .then(handleResponse)
        .catch(function (error) {
          console.log(error)
        })
    },
    async SignIn() {
      const loginRequest = {
        scopes: ['User.ReadWrite']
      }

      let accountId = ''

      const myMsal = this.$msalInstance

      function handleResponse(response) {
        if (response !== null) {
          accountId = response.account.homeAccountId
          // Display signed-in user content, call API, etc.
        } else {
          // In case multiple accounts exist, you can select
          const currentAccounts = myMsal.getAllAccounts()

          if (currentAccounts.length === 0) {
            // no accounts signed-in, attempt to sign a user in
            myMsal.loginRedirect(loginRequest)
          } else if (currentAccounts.length > 1) {
            // Add choose account code here
          } else if (currentAccounts.length === 1) {
            accountId = currentAccounts[0].homeAccountId
          }
        }
      }
      myMsal.handleRedirectPromise().then(handleResponse)
    },
    async SignOut() {
      await this.$msalInstance
        .logout({})
        .then(() => {
          //this.$emitter.emit('logout', 'logging out')
        })
        .catch((error) => {
          console.error(error)
        })
    }
    //submit() {
    //  window.location.href =
    //    'https://digitalhawk.rubix.works/api/v1/user/auth/microsoft/app'
    //}
  }
}
</script>
