 <template>
  <q-dialog v-model="confirmDialog" persistent>
    <q-card>
      <q-toolbar class="bg-primary">
        <q-toolbar-title class="q-ml-sm text-secondary">Kundenanlage {{approval.customer.ID}}</q-toolbar-title>
        <q-btn flat round dense icon="close" color="secondary" v-close-popup />
      </q-toolbar>
      <q-card-section class="flex row q-mx-md">
        <div class="col6">
          <div class="text-caption">{{approval.customer.customername1}}</div>
          <div class="text-caption">{{approval.customer.customername2}}</div>
          <div class="text-caption">{{approval.customer.street1}} {{approval.customer.houseNr}}</div>
          <div class="text-caption">{{approval.customer.zipCode}} {{approval.customer.place}}</div>
        </div>
        <div class="col text-right self-center">
          <q-avatar size="xl" icon="person" class="text-primary bg-secondary" />
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section
        class="text-center text-body1"
      >Wollen Sie den Kunden ohne weitere Prüfung sofort freigeben?</q-card-section>

      <q-card-section class="row">
        <div v-for="appro in approval.approvals" v-bind:key="appro.ID">
          <q-chip square>
            <q-avatar icon="verified" color="secondary" text-color="primary" />
            {{appro.value}}
          </q-chip>
        </div>
      </q-card-section>
      <q-card-actions class="bg-primary" align="right">
        <q-btn flat label="Abbrechen" color="secondary" @click.stop="test" v-close-popup />
        <q-separator vertical />
        <q-btn flat label="Freigeben" color="secondary" @click.stop="test" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
/* eslint-disable */
export default {
  props:
    ['approval']
  ,
 methods: {
      test() {
        console.log('TEST')
      }
    }
}
  </script>