// app global css in SCSS form

@font-face {
  font-family: rubixfont;
  src: url(../assets/fonts/fugue_regular.otf);
}

* {
  font-family: rubixfont;
}

body {
  overflow: hidden;
}

.neumorphism-item {
  box-shadow: 2px 2px 4px rgb(163, 177, 198, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.5);
}

.notification-item {
  border-left: 4px solid transparent;
  border-radius: 4px;
  &.unread {
    border-left: 4px solid gold;
  }
}
