<template>
  <router-view></router-view>
</template>
<script>
/* eslint-disable */
import { defineComponent } from 'vue'
import { AuhthenticationContext } from 'vue-adal'

//vue adal:
const config = {
  tenant: 'ed19a6be-6641-4a38-9a8f-ef2005241c4e',
  clientId: '5ecbe09e-3256-43fa-9d70-8d10c36f7a2d',
  redirectUri:
    'msauth://org.cordova.quasar.app/2b6sEmWZq%2F4rCan9TZ0d6h7iduU%3D',
  cacheLocation: 'localStorage'
}

export default defineComponent({
  name: 'Digital Wings',
  data() {
    return {
      authenticationContext: null
    }
  },
  initialize() {
    this.authenticationContext = new AuthenticationContext(config)

    return new Promise((resolve, reject) => {
      if (
        this.authenticationContext.isCallback(window.location.hash) ||
        window.self !== window.top
      ) {
        // redirect to the location specified in the url params.
        this.authenticationContext.handleWindowCallback()
      } else {
        // try pull the user out of local storage
        let user = this.authenticationContext.getCachedUser()

        if (user) {
          resolve()
        } else {
          // no user at all - go sign in.
          this.signIn()
        }
      }
    })
  },
  acquireToken() {
    return new Promise((resolve, reject) => {
      this.authenticationContext.acquireToken(
        '<azure active directory resource id>',
        (error, token) => {
          if (error || !token) {
            return reject(error)
          } else {
            return resolve(token)
          }
        }
      )
    })
  },
  /**
   * Issue an interactive authentication request for the current user and the api resource.
   */
  acquireTokenRedirect() {
    this.authenticationContext.acquireTokenRedirect(
      '<azure active directory resource id>'
    )
  },
  /**
   * @return {Boolean} Indicates if there is a valid, non-expired access token present in localStorage.
   */
  isAuthenticated() {
    // getCachedToken will only return a valid, non-expired token.
    if (this.authenticationContext.getCachedToken(config.clientId)) {
      return true
    }
    return false
  },
  /**
   * @return An ADAL user profile object.
   */
  getUserProfile() {
    return this.authenticationContext.getCachedUser().profile
  },
  signIn() {
    this.authenticationContext.login()
  },
  signOut() {
    this.authenticationContext.logOut()
  },
  watch: {
    $route(to, from) {
      console.log('Route changed from ' + from.path + ' to ' + to.path)
    }
  },
  async created() {
    var app = {
      // Application Constructor
      initialize: function () {
        this.bindEvents()
      },

      // Bind Event Listeners
      bindEvents: function () {
        document.addEventListener('deviceready', this.onDeviceReady, false)
      },

      // deviceready Event Handler
      onDeviceReady: function () {
        universalLinks.subscribe('ul_msauth', app.didLaunchAppFromLink)
      },

      ul_msauth: function () {
        console.log('%ci hev big pp%s', 'font-size: 30px; background: red;')
        window.navigator.registerProtocolHandler(
          'web+msauth',
          'org.cordova.quasar.app/2b6sEmWZq%2F4rCan9TZ0d6h7iduU%3D#code=0.AXMAvqYZ7UFmOEqaj-8gBSQcTp7gy15WMvpDnXCNEMNvei1zAD8.AQABAAIAAAD--DLA3VO7QrddgJg7WevrLUiqTnbYdBM21pFEHET-o82ZeCDn7K4dlQIxF4SLCLwuhG3SXJhqOXBe3rChTpmZM1AtLC_xP96h-uED3ohBlMyeTsJNyunRDIn4vx8A19LljjN7GAwmEZ_rGWQ4YkTAbIxPYv5FZ76LmH7tNad2NpTnbRLkn-CV-51kqXIoDFDTEVJp-2v914pkjVKFC23Crh--fd4-QuJWepKMXiXH7xaqhZbHnUkxbL5nb1YsqAhEWOZH26vPkMn_vbU9-urf-161-GKGnu-jGzqyPYQ7X7-6NA2n-jho_xoZiEJcVx18OlnMUZut4RgF2ma4_rZWsiIgzWB-elgmfvK160uTB2dY7_BGThW48vsVM4Ij2UtE2AkHfhA5lJHq3DUVKjsrD5aHm-36gvdD0Q47uXnCzHKwtn4LNLIpcbr5MskWrC8AQ6ZMgn8tINWtTG6XNLu5K0QbU05Ovs2fVp5kFqFffPrOMchtUS86XjVXO3Qx9nBNmByTDlehtGNXApNN5wZxBU03bEbdBWTibRGjUOnyII7sx5aqSaZOOQ_-Gclhqg3rfdnImsnhkxV6lniOdWNvw1VNw9bbff6yodt4b5gnLyoXKbfK4yjRfopXXhHcnmjSErqIptFqELdzrxLAkYPV3D5-gOJaIlpGLogwbw-tU8hdSB5OBcN94HPPU6FqOmB6bC7fM-lceijDqY4jtbLTk19xQAX1bnlL4ypVLL7gzYJZx_eOxQUWXNIWMIT1N7Dmj3Z3qkO6eCydCPzHl0QbLxa9ravJeCsmFtobEsQ7MFr0eGkhtDEQHb-5yYhUlNXMZVUPpiFMcr_59_DuVfgZ4yLGtC-TKJxDfBI7qXipFvKH3xSRyXXrKO-Wbsae66wqpO2ndYXm-YxFcUdqG1Myk9GBG29o3Ugc-kiOlPL7Gsd8U5tXVdppnG2YrdSmmDMn7jHeE-Xq-TPoSf7Wd-oXwUuJjQAbBw0dAR_mtI69oNO-Gq29DDIDbqUWQuElbs389rljuW0FHR3AsI84EjR4DUYBcBr3WOtTet47aNAzM-vmw3ugQCxFO1-JsPJs3Kumn3vtNQilJiuHYVMc5duO7XfrV9a0aC_dZVixgfoEHisIWTP_j9AYETwL-qb0PmLSj-VVwnOfcUwKjagFBXUnktYHR409qAOt1iBSDNlndCZDWbw0e-Czw-Kz7a8TdlX6R6wjZR5eqrYjR8wJYtKha6Xhpr3f9tVH6XrB9ZqlzIqJLS6tVHyoV8sjIsSjyK-MNwOSUmPC7_CEOh6vIrk8TZ1uc5DxnBWIdLumIQlA59mlhKpZwGGr5a9KIC7yx7cgAA&client_info=eyJ1aWQiOiIwMDAwMDAwMC0wMDAwLTAwMDAtYWMyZC1hZWNiZmE2ZmVhMTciLCJ1dGlkIjoiOTE4ODA0MGQtNmM2Ny00YzViLWIxMTItMzZhMzA0YjY2ZGFkIn0&state=eyJpZCI6ImFkZWIwY2QxLWNjYTctNDk4YS1iYmYwLTY1MWZjMmQwMzFmOCIsIm1ldGEiOnsiaW50ZXJhY3Rpb25UeXBlIjoicmVkaXJlY3QifX0%3d&session_state=58a477a7-facf-4037-b3a3-f7062b789f46',
          'Login'
        )
      },

      didLaunchAppFromLink: function (eventData) {
        alert('Did launch application from the link: ' + eventData.url)
      }
    }

    app.initialize()
  }
})
</script>
