<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar
        v-bind:class="$q.screen.gt.xs
        ? 'q-mx-xl'
        : 'q-mx-sm'"
        class="row justify-between"
        style="height: 60px; margin: 0"
      >
        <div style="width: 50%">
          <q-img
            class="col"
            v-bind:class="$q.screen.gt.xs ? 'q-mx-xl' : 'q-mx-sm'"
            :src="header_logo"
            v-bind:style="$q.screen.gt.xs ? 'max-width: 300px' : 'max-width: 220px'"
            spinner-color="white"
          />
        </div>
        <div style="width: 50% row justify-end">
          <q-img
            v-bind:class="$q.screen.gt.xs ? 'q-mr-xl' : 'q-mr-xl'"
            class="col"
            :src="image"
            style="height: 60px; max-width: 55px"
            spinner-color="white"
          />
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
/* eslint-disable */
import rubixX from '../assets/images/rubix_x.png'
import wings from '../assets/images/wings_white.png'
import header_logo from '../assets/images/header_logo_new_round_fat.png'

export default {
  setup () {
    return {
      image: rubixX,
      wings: wings,
      header_logo:header_logo
    }
  }
}
</script>
