<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar style="height: 60px" class="row">
        <div class="col">
          <q-btn
            flat
            dense
            round
            icon="menu"
            color="secondary"
            aria-label="Menu"
            @click="toggleLeftDrawer"
          />
          <q-img
            v-bind:class="$q.screen.gt.xs ? 'q-mx-xl' : 'q-mx-sm'"
            :src="header_logo"
            v-bind:style="$q.screen.gt.xs ? 'max-width: 300px' : 'max-width: 220px'"
            spinner-color="white"
          />
        </div>
        <q-img
          v-bind:class="$q.screen.gt.xs ? 'q-mx-xl' : 'q-mx-sm'"
          :src="image"
          style="height: 100%; max-width: 50px"
          spinner-color="white"
        />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header>Navigation</q-item-label>
        <EssentialLink v-for="link in essentialLinks" :key="link.title" v-bind="link" />

        <q-separator color="secondary" inset />

        <q-item class="flex-end" to="/" exact>
          <q-item-section avatar>
            <q-icon color="secondary" name="logout" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-secondary">Abmelden</q-item-label>
            <q-item-label caption>Bis zum nächsten Mal</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer v-if="$q.screen.gt.xs" class="text-secondary row" reveal>
      <div class="q-mx-xl text-overline text-left col">{{new Date().getFullYear()}}</div>
      <div class="q-mx-xl text-overline text-right col">&copy; Team Digital</div>
    </q-footer>
  </q-layout>
</template>

<script>
/* eslint-disable */
import EssentialLink from 'components/EssentialLink.vue'
import rubixX from '../assets/images/rubix_x.png'
import header_logo from '../assets/images/header_logo_new_round_fat.png'
import wings from '../assets/images/wings_white_new.png'
import { useQuasar } from 'quasar'
import { computed } from 'vue'
import { ref } from 'vue'

const linksList = [
  {
    title: 'Home',
    caption: 'Aktuelle Benachrichtigungen',
    icon: 'space_dashboard',
    link: '/#/home'
  },
  {
    title: 'Freigabecenter',
    caption: 'Freigabe Kundenanlagen',
    icon: 'task_alt',
    link: '/#/approvals'
  },
  {
    title: 'Kunden',
    caption: 'Übersicht Kunden',
    icon: 'assignment_ind',
    link: '/#/customers'
  }
]

export default {
  components: {
    EssentialLink
  },
  setup() {
    const leftDrawerOpen = ref(false)
    const $q = useQuasar()
    const headerstyle = computed(() => {
      return $q.screen.gt.xs ? 'q-mx-xl' : 'q-mx-sm'
    })
    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
      image: rubixX,
      wings: wings,
      header_logo: header_logo,
      headerstyle: headerstyle
    }
  }
}
</script>
